<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>连锁生鲜超市进销管理系统</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery.js"></script>
    <script src="layui/layui.all.js"></script>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <i class="layui-icon layui-icon-cart-simple"></i> 连锁生鲜超市进销管理系统
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="javascript:;" id="shopName"></a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="user"></a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="logout">退出</a></li>
        </ul>
    </div>
    <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next"></div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="menushave">

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="content" style="width: 100%;height: 100%" frameborder="0" scrolling="no">

        </iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        页面底部
    </div>
</div>
<script>
    layui.use('element', function () {
        var $ = layui.jquery, element = layui.element;
    });
    $(function () {
        // 初始化用户信息
        $.ajax({
            url: "getCurrentUser", success: function (data) {
                $("#user").html(data.username);
                $("#shopName").html(data.supermarket);
            }
        });
        // 获取菜单列表
        $.ajax({
            url: "getMenuList", success: function (data) {
                var menuhtml = "";
                data.forEach(menu => {
                    menuhtml += '<li class="layui-nav-item"><a href="javascript:;" onclick="repage(\'' + menu.menuurl + '\')">' + menu.menuname + '</a></li>';
                })
                $("#menushave").html(menuhtml);
                if (data.length > 0) {
                    repage(data[0].menuurl);
                }
            }
        });
    })
    // 页面跳转
    const repage = (page) => {
        $("#content").attr("src", page);
    };

</script>
</body>
</html>
