<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>库存管理</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery.js"></script>
    <script src="layui/layui.all.js"></script>
</head>
<body style="padding: 20px 15px">
<div class="layui-card">
    <div class="layui-card-header">
        商品名称：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="namesearch" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="search">搜索</button>
    </div>
    <div class="layui-card-body">
        <!--数据表格-->
        <table class="layui-hide" id="inventoryList" lay-filter="inventoryList"></table>
        <!--新增窗口-->
        <div style="padding-top: 15px">
            <form class="layui-form" id="addProduct" style="display:none">
                <input type="text" style="display: none" id="id">
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" disabled class="layui-input" style="width:250px" id="name">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品类型</label>
                    <input type="text" required lay-verify="required" disabled class="layui-input" style="width:250px" id="category">
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">商品单位</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" disabled class="layui-input" style="width:250px" id="unit">
                    </div>
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">剩余数量</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" disabled class="layui-input" style="width:250px" id="qtyL">
                    </div>
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">卖出数量</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" class="layui-input" style="width:250px" id="qty">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/html" id="barInventory">
    <a class="layui-btn layui-btn-xs" lay-event="edit">卖出</a>
</script>

<script>
    ;!function () {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;

        table.render({
            elem: '#inventoryList'
            , url: 'getInventoryList'
            , method: 'post'
            , contentType: 'application/json'
            , toolbar: true //开启头部工具栏，并为其绑定左侧模板
            , title: '商品单据'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: '库存ID'}
                    , {field: 'productName', title: '商品名称'}
                    , {field: 'productCategory', title: '商品分类', sort: true}
                    , {field: 'productUnit', title: '单位', sort: true}
                    /*, {field: 'createDate', title: '创建时间', sort: true, width: 150}*/
                    , {field: 'qty', title: '数量', sort: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barInventory', width: 150}
                ]
            ]
            , page: true
        });
        
        active = {
            reload: function () {
                var namesearch = $('#namesearch');

                //执行重载
                table.reload('inventoryList', {
                    page: {
                        page: 1 //重新从第 1 页开始
                    },
                    where: {
                        productName: namesearch.val(),
                    }
                }, 'data');
            }
        };


        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(inventoryList)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                $("#id").val(data.id);
                $("#name").val(data.productName);
                $("#category").val(data.productCategory);
                $("#unit").val(data.productUnit);
                $("#qtyL").val(data.qty);
                form.render();
                layer.open({
                    type: 1,
                    area: ['500px', '500px'],
                    title: '修改商品单据'
                    , content: $("#addProduct"),
                    shade: 0,
                    btn: ['卖出']
                    , btn1: function (index, layero) {
                        let inventory = {};
                        inventory.id = data.id;
                        inventory.qty = $("#qty").val();
                        $.ajax({
                            url: "updateInventory?id=" + data.id + "&qty=" + $("#qty").val(),
                            type: "post",
                            dataType: "json",
                            success: function (data) {
                                table.reload("inventoryList");
                                layer.closeAll();
                            },
                        });

                    },
                    cancel: function (layero, index) {
                        layer.closeAll();
                    }

                });
            }
        });
    }();

</script>

