<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>超市管理</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery.js"></script>
    <script src="layui/layui.all.js"></script>
</head>
<body style="padding: 20px 15px">
<div class="layui-card">
    <div class="layui-card-header">
        用户id：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="nameSearch" autocomplete="off">
        </div>
        超市名字:
        <div class="layui-inline">
            <input class="layui-input" name="id" id="supermarketSearch" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="search">搜索</button>
    </div>
    <div class="layui-card-body">
        <!--数据表格-->
        <table class="layui-hide" id="userList" lay-filter="userList"></table>
        <!--新增窗口-->
        <div style="padding-top: 15px">
            <form class="layui-form" id="addUser" style="display:none">
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">超市名称</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" placeholder="请输入超市名字" autocomplete="on"
                               class="layui-input" style="width:250px" id="supermarket">
                    </div>
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required|phone" placeholder="请输入手机号" autocomplete="on"
                               class="layui-input" style="width:250px" id="phone">
                    </div>
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">管理员账号</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" placeholder="请输入管理员id" autocomplete="on"
                               class="layui-input" style="width:250px" id="username">
                    </div>
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">管理员密码</label>
                    <div class="layui-input-block">
                        <input type="password" required lay-verify="required" placeholder="password" autocomplete="on"
                               class="layui-input" style="width:250px" id="password">
                    </div>
                </div>
            </form>
        </div>
        <div style="padding-top: 15px">
            <form class="layui-form" id="updatePassword" style="display:none">
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" placeholder="请输入密码" autocomplete="on"
                               class="layui-input" style="width:250px" id="passwordNew">
                    </div>
                </div>
                <div class="layui-form-item" style="padding-top: 15px">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" placeholder="请输入密码" autocomplete="on"
                               class="layui-input" style="width:250px" id="passwordNewConfirm">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/html" id="toolbarUser">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addUser">新增超市</button>
    </div>
</script>

<script type="text/html" id="barUser">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改密码</a>
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>

<script>
    ;!function () {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;

        table.render({
            elem: '#userList'
            , url: 'getUserList'
            , method: 'post'
            , contentType: 'application/json'
            , toolbar: '#toolbarUser' //开启头部工具栏，并为其绑定左侧模板
            , title: '商品单据'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'id',hide: true}
                    , {field: 'username', title: '用户账号'}
                    , {field: 'supermarket', title: '超市名称'}
                    , {field: 'phone', title: '联系方式', sort: true}
                    // , {field: 'createDate', title: '创建时间', sort: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barUser', width: 150}
                ]
            ]
            , page: true
        });

        active = {
            reload: function () {
                var nameSearch = $('#nameSearch');
                var supermarketSearch = $('#supermarketSearch')

                //执行重载
                table.reload('userList', {
                    page: {
                        page: 1 //重新从第 1 页开始
                    },
                    where: {
                        username: nameSearch.val(),
                        supermarket: supermarketSearch.val()
                    }
                }, 'data');
            }
        };

        //头工具栏事件
        table.on('toolbar(userList)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'addUser':
                    var data = checkStatus.data;
                    $("#supermarket").val("");
                    $("#phone").val("");
                    $("#password").val("");
                    $("#username").val("");
                    form.render();
                    layer.open({
                        type: 1,
                        area: ['500px', '400px'],
                        title: '新增超市',
                        content: $("#addUser"),
                        shade: 0,
                        btn: ['保存', '关闭'],
                        btn1: function (index, layero) {
                            var user = {};
                            user.supermarket = $("#supermarket").val();
                            user.phone = $("#phone").val();
                            user.username = $("#username").val();
                            user.password = $("#password").val();
                            $.ajax({
                                url: "saveUser",
                                type: "post",
                                data: user,
                                dataType: "json",
                                success: function (data) {
                                    table.reload("userList");
                                    layer.closeAll();
                                },
                            });
                        },
                        btn2: function (index, layero) {
                            layer.closeAll();
                        },
                        cancel: function (layero, index) {
                            layer.closeAll();
                        }

                    });
                    break;
            }
        });


        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(userList)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "deleteProduct?id=" + data.id,
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            obj.del();
                            layer.close(index);
                            layer.closeAll();
                            table.reload("userList");
                        },
                    });

                });
            } else if (obj.event === 'edit') {
                $("#passwordNewConfirm").val("");
                $("#passwordNew").val("");
                form.render();
                layer.open({
                    type: 1,
                    area: ['500px', '500px'],
                    title: '修改密码'
                    , content: $("#updatePassword"),
                    shade: 0,
                    btn: ['保存']
                    , btn1: function (index, layero) {
                        let user = {};
                        user.id = data.id;
                        user.password = $("#passwordNew").val();
                        if ($("#passwordNewConfirm").val() !== $("#passwordNew").val()) {
                            layer.msg('密码不一致');
                            return;
                        }
                        $.ajax({
                            url: "updateUserPassword",
                            type: "post",
                            data: user,
                            dataType: "json",
                            success: function (data) {
                                table.reload("userList");
                                layer.closeAll();
                            },
                        });

                    },
                    cancel: function (layero, index) {
                        layer.closeAll();
                    }

                });
            }
        });
    }();

</script>

