<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日订单管理</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery3.js"></script>
    <script src="layui/layui.all.js"></script>
</head>
<body style="padding: 20px 15px">
<div class="layui-card">
    <div class="layui-card-header">
<!--        商品名称：-->
<!--        <div class="layui-inline">-->
<!--            <input class="layui-input" id="namesearch" autocomplete="off">-->
<!--        </div>-->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;商品分类：-->
<!--        <div class="layui-inline">-->
<!--            <input class="layui-input" id="categorysearch" autocomplete="off">-->
<!--        </div>-->
        &nbsp;&nbsp;&nbsp;&nbsp;所属超市：
        <div class="layui-inline">
            <input class="layui-input" id="supermarketsearch" autocomplete="off">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="layui-btn" data-type="reload" id="search"><i class="layui-icon layui-icon-search"></i>查询
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="layui-inline">
            <input type="text" style="border: 0;background: #FFFFFF" id="todayElem" disabled/>
        </div>
        <div class="layui-inline">
            <input type="text" style="display: none" id="createDate" disabled/>
        </div>
    </div>
    <hr/>
    <div class="layui-card-body">
        <table class="layui-hide" id="orderList" lay-filter="orderList"></table>
    </div>
</div>
</body>
</html>

<script>
    ;!function () {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;

        laydate.render({
            elem: '#todayElem',
            format: 'yyyy-MM-dd',
            value: new Date()
        });
        laydate.render({
            elem: '#createDate',
            format: 'yyyy-MM-dd HH:mm:ss',
            value: new Date()
        });

        // 加载table
        table.render({
            elem: '#orderList',
            url: 'getOrderList2',
            method: 'post',
            where: {createDate: '2020-01-01 00:00:00', page: 1, limit: 10,supermarket:""},
            contentType: 'application/json',
            toolbar: true,
            cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'productId', title: '商品编号'}
                    , {field: 'productName', title: '商品名称'}
                    , {field: 'productCategory', title: '商品分类', sort: true}
                    , {field: 'qty', title: '数量', sort: true}
                    , {field: 'productUnit', title: '商品单位'}
                ]
            ]
            , page: true
        });

        active = {
            reload: function () {
                //执行重载
                table.reload('orderList', {
                    page: {
                        page: 1 //重新从第 1 页开始
                    },
                    where: {
                        productName: $("#namesearch").val(),
                        createDate: $("#createDate").val(),
                        productCategory: $("#categorysearch").val(),
                        supermarket: $("#supermarketsearch").val()
                    }
                }, 'data');
            }
        };


        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    }();

</script>

